/******************************* Media Querries **********************************/

/* Medium devices (tablets, less/equal than 1024px) */

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin-left: 0px;
    margin-right: 50px;
  }
  /************** section1-find ******************/

  .section1-find {
    width: 100%;
  }

  .headline,
  .research_form,
  .infofilter {
    margin-right: 50px;
  }

  .filtermenu {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
  }

  .filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /************** section2-hebergements-and-populaires***************/

  .section2-hebergements-and-populaires {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }

  .areas-hebergements-and-populaires {
    width: auto;
    margin-right: 50px;
    padding: 30px;
  }

  .starh,
  .neutral-starh {
    font-size: 10px;
  }

  .area-cardp {
    flex-direction: row;
    justify-content: space-between;
  }

  .cardp .card-title {
    font-size: 16px;
  }

  .cardp .infos-price {
    font-size: 14px;
  }

  .image-cardp {
    width: 33.21%;
  }

  /**********************section3-activities***********************/

  .card-act {
    height: 270px;
  }

  .img-act {
    height: 200px;
  }

  .title-card-act {
    padding-left: 19px;
  }
}
