/* Ceci est le code css pour le main du projet 2 Booki*/

/****************************************** Géneral ****************************************/
body {
  font-family: "Raleway", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --main-bg-color2: #000000;
  --filter-bg-color: #deebff;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

a {
  margin: 0;
  padding: 0;
  display: contents;
  color: #000000;
  text-decoration: none;
}

/**************************** Section 1 du main ***********************************/

.section1-find {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 50px 0px 50px;
  width: 93.05%;
}

.subtitle {
  margin: 0px;
  padding-top: 8px;
}

/****** Formulaire de recherche******/

.research_form {
  display: flex;
  flex-direction: row;
  height: 49px;
  padding-top: 35px;
}

.icon_location {
  color: #000000;
  text-align: center;
  padding-top: 12.5px;
  background-color: #f2f2f2;
  width: 50px;
  border: none;
  border-radius: 15px 0px 0px 15px;
}

.searchbox {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: auto;
  border: 1px solid #f2f2f2;
  border-radius: 0px 0px 0px 0px;
  border-left: none;
  border-right: none;
}

.submit_button {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: auto;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  border: none;
  /* display: none; */
}

.submit_button_mobile {
  background-color: #0065fc;
  border-radius: 15px 15px 15px 15px;
  width: 3.4%;
  border: none;
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 1;
  display: none;
}

.mglass {
  display: none;
  color: white;
  font-size: 18px;
  text-align: center;
  position: relative;
  z-index: 2;
  right: 32px;
  top: 16px;
}

/****** Filtres ******/

.filtermenu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 0px;
  padding-top: 35px;
  margin: 0px;
}

.filter_title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: solid 2px #d9d9d9;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 17px;
  width: auto;
  height: 50px;
  padding-left: 19px;
  padding-right: 19px;
}

.filter:hover {
  background-color: #deebff;
}

.logo_filtre {
  color: #0065fc;
}

/******Point infos******/

.infofilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  gap: 20px;
  padding-left: 0px;
  padding-top: 35px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.info_logo {
  text-align: center;
  border: solid 1px #d9d9d9;
  width: 22px;
  height: 17px;
  border-radius: 90%;
  font-size: 10.7px;
  color: #0065fc;
  padding-top: 5px;
  margin: 0px;
}

.pinfo {
  margin: 0px;
}

/************************************ Section 2 main ***************************************/

.section2-hebergements-and-populaires {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  margin: 30px 50px 0px 50px;
  width: 93.05%;
}

.areas-hebergements-and-populaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 30px;
  padding: 30px;
  margin: 0px;
}

/*********************élements communs card hebergements et populaires*******/

.card-title {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}

.infos-price {
  font-size: 14px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}

.euro {
  font-weight: 700;
}

/*************************************** Hébergements **********************/

.hebergements {
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 60.48%;
}

.see-more {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.area-cardh {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
}

/******************cards hébergements*************/

.cardh {
  width: 30.86%;
  height: 207.25px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  margin: 0px 0px 0px 0px;
}

.containeur-cardh {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.image-cardh {
  width: fill;
  height: 124px;
  object-fit: cover;
  border: solid 5px white;
  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
}

.starh {
  font-size: 13px;
}

.neutral-starh {
  color: #f2f2f2;
  font-size: 13px;
}

.ratingh {
  color: #0065fc;
  display: flex;
  flex-direction: row;
  gap: 2.58px;
  padding: 5px 0px 0px 15px;
  margin-bottom: 15px;
}

/******************************************** Populaires *********************/
.populaires {
  width: auto;
}

.populaires-card-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.area-cardp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.logo-pop {
  color: #0065fc;
}
/*****************cards populaires***********************/

.cardp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  border-radius: 20px;
  border: solid 5px white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 359px;
  height: 137px;
}

.containeur-cardp {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  gap: 5px;
}

.containeur-info-pop {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image-cardp {
  width: 123px;
  height: fill;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  box-sizing: border-box;
}

.titlep {
  padding-top: 10px;
}

.ratingp {
  color: #0065fc;
  display: flex;
  width: 12px;
  height: 12px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  padding: 0px 0px 0px 15px;
}

.starp {
  font-weight: 700;
  width: 12px;
  height: 12px;
}

.neutral-starp {
  color: #f2f2f2;
  font-weight: 700;
  width: 12px;
  height: 12px;
}

/********************************* Section 3 main ***********************************/

.section3-activities {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 35px 50px 0px 50px;
  width: 93.05%;
}

.activities_title {
  padding: 30px 30px 0px 30px;
  margin: 0px;
}

.cards-activities {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 30px 30px 30px;
}

.card-act {
  display: flex;
  flex-direction: column;
  border: 1px #f1f1f1 solid;
  height: 439px;
  width: 22.2%;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.img-act {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
  height: 380px;
}

.title-card-act {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 59px;
  padding-left: 19px;
}

/******************************* Media Querries **********************************/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin-left: 0px;
    margin-right: 50px;
  }
  /************** section1-find ******************/

  .section1-find {
    width: 100%;
  }

  .headline,
  .research_form,
  .infofilter {
    margin-right: 50px;
  }

  .filtermenu {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
  }

  .filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /************** section2-hebergements-and-populaires***************/

  .section2-hebergements-and-populaires {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }

  .areas-hebergements-and-populaires {
    width: auto;
    margin-right: 50px;
    padding: 30px;
  }

  .starh,
  .neutral-starh {
    font-size: 10px;
  }

  .area-cardp {
    flex-direction: row;
    justify-content: space-between;
  }

  .cardp .card-title {
    font-size: 16px;
  }

  .cardp .infos-price {
    font-size: 14px;
  }

  .image-cardp {
    width: 33.21%;
  }

  /**********************section3-activities***********************/

  .card-act {
    height: 270px;
  }

  .img-act {
    height: 200px;
  }

  .title-card-act {
    padding-left: 19px;
  }
}
