/******************************* Media Querries **********************************/

/* Medium devices (tablets, less/equal than 1024px) */

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin-left: 0px;
    margin-right: 50px;
  }
  /************** section1-find ******************/

  .section1-find {
    width: 100%;
  }

  .headline,
  .research-form,
  .infofilter {
    margin-right: 50px;
  }

  .filtermenu {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
  }

  .filters,
  .filters-part1,
  .filters-part2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /************** section2-hebergements-and-populaires***************/

  .section2-hebergements-and-populaires {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }

  .areas-hebergements-and-populaires {
    width: auto;
    margin-right: 50px;
    padding: 30px;
  }

  .starh,
  .neutral-starh {
    font-size: 10px;
  }

  .area-cardp {
    flex-direction: row;
    justify-content: space-between;
  }

  .cardp .card-title {
    font-size: 16px;
  }

  .cardp .infos-price {
    font-size: 14px;
  }

  .image-cardp {
    width: 33.21%;
  }

  /**********************section3-activities***********************/

  .card-act {
    height: 270px;
  }

  .img-act {
    height: 200px;
  }

  .title-card-act {
    padding-left: 19px;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  body {
    margin: 20px;
    padding: 0px;
  }

  /************** section1-find ******************/

  .section1-find {
    margin: 10px 0px 30px 0px;
    width: 100%;
  }

  .searchbox {
    width: 70%;
  }

  .submit-button {
    display: none;
  }

  .submit-button-mobile {
    display: flex;
  }

  .mglass {
    display: flex;
  }

  .filtermenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .filters {
    flex-wrap: wrap;
    gap: 20px;
  }

  .filter {
    padding: 0px;
    width: 155px;
    justify-content: center;
    font-size: 14px;
  }

  .filters-part1 {
    width: 100%;
  }

  .logo-filter {
    font-size: 22px;
  }

  /************** section2-herbergements-et-populaires ******************/

  .section2-hebergements-and-populaires {
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    gap: 0px;
  }

  .populaires {
    border-radius: 0%;
    width: 90%;
  }
}
