/* Ceci est le code css pour le footer du projet 2 Booki*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  background-color: #f2f2f2;
  height: auto;
  margin: 35px 50px 0px 50px;
}

.section-footer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  margin: 0px;
  padding: 20px 0px 0px 20px;
}

.title-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.dot-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Medium devices (tablets, less/equal than 1024px, more than 768px) */

@media all and (min-width: 768px) and (max-width: 1024px) {
}

/*Small devices (phones) */

@media all and (min-width: 320px) and (max-width: 768px) {
  footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin: 0px;
  }

  .section-footer {
    padding: 0px;
    margin: 0px;
  }
}
