/******************************* Media Querries **********************************/

/* Medium devices (tablets, less/equal than 1024px) */

@media all and (min-width: 768px) and (max-width: 1024px) {
  /************** section1-find ******************/

  .section1-find {
    width: 100%;
  }

  .filtermenu {
    flex-direction: column;
    align-items: flex-start;
  }

  .filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /************** section2-hebergements-and-populaires***************/

  .section2-hebergements-and-populaires {
    flex-direction: column;
    gap: 50px;
  }

  .areas-hebergements-and-populaires {
    width: auto;
  }

  .populaires {
    width: auto;
  }

  .starh,
  .neutral-starh {
    font-size: 10px;
  }

  .hebergements {
    padding: 30px;
  }

  .area-cardp {
    flex-direction: row;
    gap: 20px;
  }

  .cardp .card-title {
    font-size: 16px;
  }

  .cardp .infos-price {
    font-size: 14px;
  }

  .image-cardp {
    width: 33.21%;
  }

  /**********************section3-activities***********************/
  /* .section3-activities {
  } */

  .card-act {
    width: 22%;
    height: 270px;
  }

  .img-act {
    height: 200px;
  }

  .title-card-act {
    padding-left: 19px;
  }
}

/*Small devices (phones) */

@media all and (min-width: 320px) and (max-width: 768px) {
  .sections {
    margin: 0px;
  }
  /************** section1-find ******************/

  .section1-find {
    padding: 20px;
    width: auto;
  }

  .researchform {
    justify-content: flex-start;
    text-align: center;
  }

  .searchbox {
    width: 60%;
  }

  .submit-button {
    display: none;
  }

  .submit-button-mobile {
    display: flex;
    width: 50px;
  }

  .mglass {
    display: flex;
  }

  .filtermenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  .filters {
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
  }

  .filter {
    padding: 0px 19px 0px 10px;
    width: 33%;
    font-size: 12px;
  }

  .logo-filter {
    font-size: 22px;
  }

  /************** section2-herbergements-et-populaires ******************/

  .section2-hebergements-and-populaires {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    gap: 0px;
  }

  .populaires {
    padding: 30px 20px 30px 20px;
    border-radius: 0%;
    width: 100%;
  }

  .area-cardp {
    align-items: center;
  }

  .cardp {
    width: 97%;
  }

  .image-cardp {
    width: 33%;
  }

  .hebergements {
    padding: 30px 20px 20px 20px;
    border-radius: 0%;
    width: 100%;
    background-color: white;
  }

  .cardh {
    width: 100%;
  }

  .area-cardh {
    gap: 15px;
  }
  .column-1,
  .column-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  /************** section3-activities ******************/

  .section3-activities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
  }

  .cards-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0px;
    width: 100%;
  }

  .card-act {
    display: flex;
    flex-direction: column;
    border: 1px #f1f1f1 solid;
    height: 200px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  }

  .img-act {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    height: 141px;
  }

  .title-card-act {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 59px;
    padding-left: 19px;
  }
}
