/* Code css Main du projet 2  Booki : Créez la page d'accueil d'une agence de voyage avec HTML & CSS*/

/****************************************** Géneral ****************************************/
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --main-bg-color2: #000000;
  --filter-bg-color: #deebff;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

a {
  margin: 0;
  padding: 0;
  display: contents;
  color: #000000;
  text-decoration: none;
}

figure {
  margin: 0px;
  padding: 0px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0px 50px 0px 50px;
}

/**************************** Section 1 du main ***********************************/

.section1-find {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
}

.subtitle {
  margin: 0px;
  padding-top: 8px;
}

/****** Formulaire de recherche******/

.research-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 49px;
  width: fit-content;
  box-sizing: border-box;
  gap: 0px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.input-prefix {
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-location {
  text-align: center;
  width: 50px;
}

.label {
  display: none;
  margin: 0;
  padding: 0;
}

.searchbox {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 0px;
  width: auto;
  border: 0px solid #f2f2f2;
  border-left: none;
  border-right: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

.submit-button {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: auto;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  border: none;
  margin: 0px;
}

.input-suffix {
  background-color: white;
  margin-top: 1px;
  margin-bottom: 1px;
}
.submit-button-mobile {
  display: flex;
  background-color: #0065fc;
  border-radius: 15px 15px 15px 15px;
  width: 50px;
  border: none;
  text-align: center;
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search-icon {
  font-size: 18px;
  color: white;
}

/****** Filtres ******/

.filtermenu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: solid 2px #d9d9d9;
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
  height: 46px;
  padding: 0px 19px 0px 19px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 0px;
  padding: 0px;
}

.filter:hover {
  background-color: #deebff;
}

.logo-filter {
  color: #0065fc;
}

/******Point infos******/

.infofilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  gap: 20px;
  padding: 0px;
  margin: 0px;
}

.info_logo {
  text-align: center;
  border: solid 1px #d9d9d9;
  width: 22px;
  height: 17px;
  border-radius: 90%;
  font-size: 10.7px;
  color: #0065fc;
  padding-top: 5px;
  margin: 0px;
}

.pinfo {
  margin: 0px;
}

/************************************ Section 2 main ***************************************/

.section2-hebergements-and-populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.areas-hebergements-and-populaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 30px;
  padding: 30px;
  margin: 0px;
}

/*********************élements communs card hebergements et populaires*******/

.card-title {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}

.infos-price {
  font-size: 14px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}

.euro {
  font-weight: 700;
}

/*************************************** Hébergements **********************/

.hebergements {
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 60.48%;
}

.titleheb {
  height: 26px;
}
.see-more {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.area-cardh {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
}

/******************cards hébergements*************/

.cardh {
  width: 30.86%;
  height: 207.25px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  margin: 0px 0px 0px 0px;
}

.containeur-cardh {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.image-cardh {
  height: 124px;
  object-fit: cover;
  border: solid 5px white;
  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
}

.neutral-starh {
  color: #f2f2f2;
}

.ratingh {
  color: #0065fc;
  display: flex;
  flex-direction: row;
  gap: 2.58px;
  padding: 0px 0px 0px 15px;
  font-size: 16px;
}

/******************************************** Populaires *********************/

.populaires {
  width: 39.52%;
}

.populaires-card-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px;
  height: 26px;
}

.area-cardp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: auto;
}

.logo-pop {
  color: #0065fc;
}
/*****************cards populaires***********************/

.cardp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  border-radius: 20px;
  border: solid 5px white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 95%;
  height: 136px;
}

.containeur-cardp {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  gap: 5px;
}

.containeur-info-pop {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image-cardp {
  width: 123px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  box-sizing: border-box;
}

.titlep {
  padding-top: 10px;
}

.ratingp {
  color: #0065fc;
  display: flex;
  width: 12px;
  height: 12px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  padding: 0px 0px 0px 15px;
}

.starp {
  font-weight: 700;
  width: 12px;
  height: 12px;
}

.neutral-starp {
  color: #f2f2f2;
  font-weight: 700;
  width: 12px;
  height: 12px;
}

/********************************* Section 3 main ***********************************/

.section3-activities {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 30px 30px 30px;
}

.cards-activities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.card-act {
  display: flex;
  flex-direction: column;
  border: 1px #f1f1f1 solid;
  height: 439px;
  width: 22.9%;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.img-act {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
  height: 380px;
}

.title-card-act {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 59px;
  padding-left: 19px;
}
