/* Ceci est le code css pour le projet 2 Booki*/

/****************************************** Géneral ****************************************/
body {
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-bg-color2: #000000;
    --filter-bg-color: #DEEBFF;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px ;
}

h2 {
    margin: 0px;
    padding: 0px;
}

h3 {font-size: 16px;
    font-weight: 700;
    padding: 4px 20px 4px 20px;
}

a {
    margin: 0;
    padding: 0;
    display:contents;
    color: #000000;
    text-decoration:none;
}
/************************************ Header ********************************************/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 0px;
}

.option {
     padding-top:16px;
}

.option:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    border-right: none;
    border-left: none;
    border-bottom: 2px white solid;
}

/**************************** Section 1 du main ***********************************/

.section1_trouver {
    display: flex;
    flex-direction : column;
    justify-content: flex-start;
    margin: 30px 50px 0px 50px;
}

.subtitle {
    margin: 0px;
    padding-top: 8px;
}

/****** Formulaire de recherche******/

.research_form{
    display: flex;
    flex-direction: row;
    height: 49px; 
    padding-top: 35px; 
}

.icon_location {
    color: #000000;
    text-align: center;
    padding-top: 12.5px;
    background-color: #F2F2F2;
    width: 50px;
    border: none;
    border-radius: 15px 0px 0px 15px;
}

.searchbox {
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 195px;
    border: 1px solid #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    border-left: none;
    border-right: none;
}

.submit_button {
    font-family: 'Raleway', sans-serif ;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 132px;;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: none;
    /* display: none; */
}

.submit_button_mobile { 
    background-color: #0065FC;
    border-radius: 15px 15px 15px 15px;
    width: 49px;
    border : none;
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    display: none;
}

.loupe {
    display: none;
    color: white;
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 2;
    right: 32px;
    top: 16px;
} 

/****** Filtres ******/

.filtresmenu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 0px;
    padding-top: 35px;
    margin: 0px;
    
}

.filtre_title {
    text-align: center;
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 18px;
}

.filtre {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid 2px #d9d9d9; 
    border-radius: 25px;
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 17px;
    height: 50px;
    padding-left: 19px;
    padding-right: 19px;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.logo_filtre {
    color: #0065FC;
}

/******Point infos******/

.infofiltre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    gap: 20px;
    padding-left: 0px;
    padding-top: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.info_logo {
    text-align: center;
    border: solid 1px #d9d9d9;
    border-radius: 90%;
    width: 30px;
    height: 20px;
    position: relative;
    font-size: 10.7px;
    color: #0065FC;
    padding-top: 10px;
    position: relative;
    bottom: 5px;
    margin: 0px;
}

.pinfo{
    margin: 0px;
}

/************************************ Section 2 main ***************************************/

.section2_hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap-reverse; */
    gap:30px;
    margin: 30px 50px 0px 50px;
}

.zones_hebergements_et_populaires{
    background-color: #F2F2F2;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 30px;
    padding:30px;
    margin: 0px;
}

/*********************élements communs card hebergements et populaires*******/
 
.card_title {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}

.infos_tarifs{
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 0px 15px; 
}

.euro {
    font-weight: 700;
}

 
/*************************************** Hébergements **********************/

.hebergements {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.afficher_plus{
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
      
.area_cardh {
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 811px;
    }

.column_1,
.column_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap:30px;

}

/******************cards hébergements*************/

.cardh {
        width: 250.33px;
        height: 207.25px;
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 4px;
        margin: 0px 0px 0px 0px;
    }

.containeur_cardh {
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
    }
    
.image_cardh {
        width: fill;
        height: 124px;
        object-fit: cover;
        border: solid 5px white;
        border-radius: 20px 20px 0px 0px ;
        box-sizing: border-box
    }

.starh {
        font-size: 13px;
      }
    
.neutral-starh{
        color: #F2F2F2;
        font-size: 13px;
    }
    
.noteh {
        color: #0065FC;
        display: flex;
        flex-direction: row;
        gap: 2.58px;
        padding: 5px 0px 0px 15px;
        margin-bottom: 15px;
    }
      
/******************************************** Populaires *********************/

.populaires_card_headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 0px;
    width: 369px;
}

.area_cardp {
display:flex ;
flex-direction: column;
gap: 30px;
justify-content: flex-start;
align-items: flex-start;
width: 369px;
}

.logo_pop {
    color: #0065FC;
}
/*****************cards populaires***********************/

.cardp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
    border: solid 5px white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 359px;
    height: 137px;
}

.containeur_cardp {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    gap: 5px;
}

.image_cardp {
    width: 123px;
    height: fill;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px ;
    box-sizing: border-box;
}

.titlep{
    padding-top: 10px;
}

.notep{
color: #0065FC;
display: flex;
width: 12px;
height: 12px;
flex-direction: row;
justify-content: flex-start;
align-items:center;
gap: 2px;
padding: 65px 0px 0px 15px;
}

.notep2 {
    padding: 45px 0px 0px 15px;
}

.starp {
    font-weight: 700;
    width: 12px;
    height: 12px;
}

.neutral-starp{
    color: #F2F2F2;
    font-weight: 700;
    width: 12px;
    height: 12px;
}


/********************************* Section 3 main ***********************************/

.section3_activites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin: 37.5px 50px 0px 50px;
    padding: 27.5px 30px 30px 30px;
}

.cards_activites {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:30px
}

.card_act {
    display: flex;
    flex-direction: column;
    width: 297.5px;
    height: 439px;
    border: 1px #f1f1f1 solid;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.img_act {
    width: fill;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
    box-sizing: border-box;
}

/************************************** Footer ***********************************/

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    background-color: #F2F2F2;
    width: 100%;
    height: 163px;
    margin: 35px 50px 0px 50px;
}
 
.section_footer{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 446px;
    margin: 0px;
    padding : 20px 0px 0px 20px;
}

.title_footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.dot_footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


    













/******************************* Media Querries **********************************/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
/* @media (max-width: 1024px) {
    .zones_hebergements_et_populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
} */

